.topimage {
	background-image: url(img/top.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 50vh;
	border-bottom: 50px solid red;
	}

.tiller {
	font-family: 'Permanent Marker', cursive;
	padding-top: 100px;
}

.padding {
	padding-left: 40px;
}

body {
	background-color:black;
}

h1 {
	font-family: 'Permanent Marker', cursive;
}

